.shopping-cart-container {
    position: relative;
}

.shopping-cart-container .shop-cart-notification {
    position: absolute;
    border-radius: 50px;
    top: -10px;
    right: -15px;
    background-color: red;
    color: white;
    padding: 2px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    cursor: pointer;
    border: 2px solid black;
}

.shopping-cart-container-popover {
    width: 300px;
}

.shopping-cart-container-popover .sub-total {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 600;
}

.shopping-cart-container-popover .checkout-button {
    width: 100%;
}

.shopping-cart-container-popover .shopping-cart-all-products {
    max-height: 500px;
    overflow-y: auto;
}
