.pagination-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.pagination-container .pages-container {
    margin-left: 30px;
    margin-right: 30px;
}

.pagination-container .page-caret {
    font-size: 40px;
    cursor: pointer;
}

.pagination-container .page-button {
    margin-left: 5px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

.pagination-container.dark .page-caret {
    color: white;
}