.product-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}

.product-card-container .product-image {
    min-height: 200px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.product-card-container:hover {
    box-shadow: 0 1px 6px rgba(0,0,0,.3);
    transform: scale(1.05);
}

.product-card-container.dark {
    background-color: white;
    border-radius: 5px;
}

.product-card-container.dark p {
    color: black;
}