.product-card-modal-body {
    background-color: white;
    width: 600px;
}

.product-card-modal-body .modal-product-details-container {
    display: flex;
}

.product-card-modal-body img {
    height: 305px;
    width: 210px;
}

.modal-product-details {
    margin-left: 20px;
    font-size: 20px;
}

.product-card-modal-body .modal-product-name {
    font-weight: 700;
}
.product-card-modal-body {
    background-color: white;
    width: 600px;
}

.product-card-modal-body .modal-product-details-container {
    display: flex;
}

.product-card-modal-body .modal-product-image-container {
    box-sizing: border-box;
}

.product-card-modal-body .modal-product-image {
    min-height: 235px;
    width: 160px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.modal-product-image-container {
    padding: 10px;
}

.modal-product-details {
    margin-left: 20px;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    font-weight: 700;
}

.product-card-modal-body .modal-product-name {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.product-card-modal-body .variant-option {
    display: flex;
    flex-wrap: wrap;
}

.product-card-modal-body .variant-container {
    font-size: 16px;
}

.product-card-modal-body .variant-option-button {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 30px;
}

.product-card-modal-body .variant-option-button.size {
    min-width: 50px;
}

.product-card-modal-body .variant-option-button.color {
    min-width: 80px;
}

.product-card-modal-body .variant-option-button.color.selected {
    min-width: 80px;
    transform: scale(1.20);
    margin-right: 18px;
}

.product-card-modal-body .old-price {
    margin-right: 20px;
    color: lightgray;
}

.product-card-modal-body .price-ui {
    margin-top: 5px;
    font-family: cursive;
    margin-bottom: 10px;
}

.product-card-modal-body .variant-option-header {
    margin-bottom: 10px;
}

.product-card-modal-body .add-to-cart-button {
    width: 100%;
    margin-top: 50px;
    font-size: 20px;
}

.product-card-modal-body .quantity-container {
    font-size: 12px;
    margin-bottom: 35px;
    color: #464646;
    font-weight: 100;
}

.product-card-modal-body .qty-value {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 16px;
}

.product-card-modal-body .qty-button {
    cursor: pointer;
}

.product-card-modal-body .quantity-container-label {
    display: flex;
    align-items: center;
}