.modal-container {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.45);
}

.modal-body {
    position: absolute;
    padding: 20px;
    background-color: #F0F0F0;
    border-radius: 5px;
}
