.checkout-page-container {
    display: flex;
    width: 100%;
    padding: 20px;
}

.checkout-page-container .cart-items-container {
    width: 50%;
}

.checkout-page-container .cart-items {
    border: 1px solid #c8c8c8;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.checkout-page-container .customer-info {
    width: 50%;
}

.checkout-page-container .cart-items-header {
    width: 100%;
    border: 1px solid #c8c8c8;
    border-radius: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.checkout-page-container .divider {
    border: 1px solid #c8c8c8;
    width: 100%;
    margin: 30px 0px;
}

.checkout-page-container .shipping-container {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: green;
}

.checkout-page-container .fa-truck {
    font-size: 40px;
}

.checkout-page-container label {
    margin-left: 15px;
    font-weight: 700;
}

.checkout-page-container .cart-items-footer {
    border: 1px solid #c8c8c8;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 700;
}

.checkout-page-container .total-price {
    width: 20%;
    padding-left: 20px;
    box-sizing: border-box;
    color: #e66b00;
}
